body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

.gallery, .categories, .contact {
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.item img, .item video {
    width: 100%;
    border-radius: 8px;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories li {
    margin: 10px 0;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
}
.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slide {
    width: 100%;
    border-radius: 8px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.login {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.login label {
    margin: 10px 0 5px;
}

.login input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login button:hover {
    background-color: #45a049;
}
.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50; /* Couleur pour le texte */
}

.social-links a:hover {
    text-decoration: underline;

}
body {
    background: linear-gradient(135deg, rgba(76, 175, 80, 0.7), rgba(129, 199, 132, 0.7)), 
                url('img/ml.jpg');
    background-size: cover;
    background-position: center;
    color: #333; /* Couleur du texte */
}
